// Colors
$blue: #81beea;
$green: #5dc94a;
$orange: #e2b188;
$red: #d31014;

// Main
$body-bg: #0f161e;
$body-color: #b9b9ba;
$border-color: #151e2b;
$danger: $red;
$info: $blue;
$link-color: $primary;
$primary: $orange;
$secondary: #4c5d78;
$success: $green;
$warning: $orange;

// Navbar
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$navbar-dark-color: rgba($white,.6);
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($white,.6);
$navbar-light-hover-color: $white;
$navbar-light-active-color: $white;
$navbar-light-toggler-border-color: rgba($gray-900, .1);
$navbar-light-brand-color: $navbar-dark-active-color;
$navbar-light-brand-hover-color: $navbar-dark-active-color;

// Dropdown
$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// Input
$input-bg: $secondary;
$input-color: $white;
$input-disabled-bg: darken($secondary, 10%);

// Table
$table-accent-bg: $gray-800;
$table-border-color: $gray-700;

// Cards
$card-cap-bg: $gray-700;
$card-bg: $gray-800;

// Popover
$popover-bg: $gray-800;
$popover-header-bg: $gray-700;

// Toast
$toast-background-color: $gray-700;
$toast-header-background-color: $gray-800;

// Modal
$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;
$modal-header-border-color: $gray-700;

// Pagination
$pagination-color: $white;
$pagination-bg: $success;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: lighten($success, 10%);
$pagination-hover-border-color: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;
$pagination-disabled-color: $white;
$pagination-disabled-bg: darken($success, 15%);
$pagination-disabled-border-color: transparent;

// Radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$rounded-pill: 0.25rem;

// Shades of gray
$text-muted: $gray-600;
$custom-file-color: $gray-500;
$custom-file-border-color: $body-bg;
$jumbotron-bg: $gray-800;
$progress-bg: $gray-700;
$breadcrumb-bg: $gray-700;
$list-group-bg: $gray-800;
$list-group-border-color: $gray-700;
$list-group-hover-bg: $gray-700;
$custom-select-bg: $secondary;
$custom-select-color: $white;
$close-color: $white;
$close-text-shadow: none;

// Misc
$form-feedback-valid-color: theme-color("info");
$input-btn-focus-color: rgba($component-active-bg, .75);
$yiq-contrasted-threshold: 175;
$pre-color: inherit;
$mark-bg: #333;