$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$link-color: $primary;
$body-bg: #f2f4f6;
$body-color: #304055;
$red: #d31014;
$green: #0fa00f;
$orange: #ffa500;
$blue: #0095ff;
$primary: #f86f0f;
$secondary: #dbe0e8;
